
html {

	padding-top: 30px;
	background: linear-gradient(#6D7B8D, #424c56) no-repeat fixed;

}

body {
	margin: auto ;
	color: #f7d7e1;
	background: #6b1b13;
	padding: 50px;
	border-radius: 10px;
    max-width: 1300px; 
    text-align: center
}

nav {
    font-size: 14px;
    font-family: georgia;
    text-align: center;
    color: black;
}

.topnav {
    background-color: #ab546b;
    overflow: hidden;
  }
  
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
 .topnav a:hover {
    background-color: #803f50;

  }
  
.topnav a.active {
    background-color: #803f50;
    color: white;
  }
  